In [1]:
# Using Pandas, NEEDS pyarrow and fastparquet for read_parquet
import pandas as pd
output_df = pd.read_parquet('../results_PartB/output_kotae/frequent_sequences_20241115_231831.parquet')
output_df

                           sequence_str  freq
0               67500,38500;67000,38500    11
1               67500,38500;67500,38500    17
2   67500,38500;67500,38500;67500,38500    11
3               67500,38500;67000,39000     9
4               67500,38500;68000,38000     8
..                                  ...   ...
73                          55000,45500     9
74                          70000,41000    10
75                          80500,30000    12
76                          67500,38500    34
77                          60500,35000     8

[78 rows x 2 columns]

In [13]:
output_df.to_csv("results_PartB/kotae_30days_results_3.csv")